.headerAnime {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--textOn);
}

.arrowBack {
    display: flex;
    padding: 0.313rem;
    border-radius: var(--border10);
    background-color: var(--accent);

    width: 1.87rem;
    height: 1.87rem;
    
    align-items: center;
    justify-content: center;
}

.searchButton img {
    width: 1.25rem;
}



.poster {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

.animePoster {
    max-width: 90%;
    height: 80%;
    border-radius: var(--border10);
}

.container {
    background-color: var(--accent);
    padding: 20px 5px;
    box-sizing: border-box;
    border-radius: var(--border10);
    margin-top: 20px;
}

.filter {
    display: flex;
}

.star {
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
}

.genres ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    color: var(--textOn);
    font-size: 12px;
    width: 150px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}

.genres li {
    background-color: var(--bgColor);
    padding: 5px 10px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    padding: 0.313rem;
    border-radius: var(--border10);
    background-color: var(--bgColor);

    width: 1.87rem;
    height: 1.87rem;
    
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 0.95rem;
}

.controls {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -35px;
    right: 45px;
}

.description {
    margin-left: 15px;
    display: block;
    max-width: 320px;
    color: var(--textOn);
}