.animeContainer {
    padding: 15px;
    box-sizing: border-box;

    background-color: var(--accent);
    border-radius: var(--border10);
    height: 200px;
    font-size: 14px;
}

.animeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--mainColor);
}

.arrowIco {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #D1C1FF;
}