.searchHeader {
    display: flex;
        gap: 10px;
        align-items: center;
}

.searchback {
        display: flex;
        padding: 0.313rem;
        border-radius: var(--border10);
        background-color: var(--accent);
        width: 1.87rem;
        height: 1.87rem;
        align-items: center;
        justify-content: center;
}

input {
    all: unset;
    padding: 0.313rem;
    height: 1.87rem;
    width: 100%;
    border-radius: var(--border10);
    background-color: var(--accent);
    color: var(--textOn);
    padding-left: 10px;
}

.containerr {
    background-color: var(--accent);
    padding: 20px 5px;
    box-sizing: border-box;
    border-radius: var(--border10);
    margin-top: 20px;
    height: 100%
}

.capaanime {
    width: 100px;
    min-height: 150px;
    background-color: white;
    border-radius: var(--border10);
    margin-left: 15px;
}

.animeitem {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
}

.genresearch {
    margin: 0px !important;
    padding: 0px !important;
}

.genresearch li {
    margin-bottom: 10px;
}

.titles {
    margin-top: 5px;
    color: var(--textOn);
}

.animeitem::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c3c3c32c;
    position: absolute;
    bottom: -10px;
}

input::placeholder {
    padding-left: 5px;
}

.sinopse {
    color: var(--textOff);
}

.inactive {
    display: none;
}